@font-face {
    font-family: 'BwGradual';
    src: url('../fonts/BwGradualDEMO-Bold.woff2') format('woff2'),
    url('../fonts/BwGradualDEMO-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'BwGradual';
    src: url('../fonts/BwGradualDEMO-Medium.woff2') format('woff2'),
    url('../fonts/BwGradualDEMO-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'BwGradual';
    src: url('../fonts/BwGradualDEMO-Regular.woff2') format('woff2'),
    url('../fonts/BwGradualDEMO-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}