.xb-brand-top {
    display: flex;
    align-items: center;
    // &::before {
    //     position: absolute;
    //     content: '';
    //     left: 0;
    //     top: 50%;
    //     height: 2px;
    //     width: 100%;
    //     z-index: -1;
    //     transform: translateY(-50%);
    // }
    .text {
        font-weight: 500;
        font-size: 18px;
        padding: 7px 15px;
        display: inline-block;
        background: #d7f0d7;
        white-space: nowrap;
        color: var(--color-heading);
        @include border-radius(20px);
    }
    .line {
        width: 100%;
        height: 2px;
        z-index: 1;
        overflow: hidden;
        position: relative;
        background: #d7f0d7;
    }
}
.xb-animate-leftRight {
    .line {
        position: absolute;
        left: 0;
        top: 0;
        height: 2px;
        width: 100%;
        z-index: 1;
        overflow: hidden;
        background: transparent;
        span {
            position: absolute;
            top: 0;
            right: -38px;
            width: 38px;
            height: 2px;
            @include border-radius(31px);
            background: rebeccapurple;
            background: linear-gradient(90deg, #86c386 0%, #d7f0d7 100%);
            animation: rightToLeft 10s linear infinite;
        }
        &--2 {
            top: auto;
            bottom: 0;
            span {
                right: auto;
                left: -38px;
                background: linear-gradient(90deg, #d7f0d7 0%, #86c386 100%);
                animation: LeftToright 10s linear infinite;
            }
        }
    }
}
.xb-brand-wrapper {
    .xb-hero-brand-wrap {
        margin-top: 60px;
        margin-right: 0;
        .xb-item {
            &--marquee  {
                margin: 0;
                padding: 0;
                &::before,
                &::after {
                    display: none;
                }
            }
            &--brand_list {
                gap: 85px;
                margin-right: 85px;
                @include respond(xs) {
                    gap: 55px;
                    margin-right: 55px;
                }
            }
        }
    }
}
.fs-brand-top {
    padding: 6px 15px;
    margin-bottom: 60px;
    display: inline-block;
    @include border-radius(20px);
    border: 1px solid var(--color-border);
    span {
        font-weight: 700;
        color: var(--color-heading);
    }
}
.fs-brand-marquee {
    gap: 30px;
    display: flex;
    margin-right: 30px;
    padding-bottom: 20px;
    @include respond(xs) {
        gap: 20px;
        margin-right: 20px;
    }
}
.fs-marquee-item {
    display: inline-flex;
    align-items: center;
    padding: 10px 28px;
    min-height: 76px;
    min-width: 171px;
    justify-content: center;
    @include transition(.3s);
    @include border-radius(10px);
    background: var(--color-white);
    box-shadow: inset 0 4px 0 0 rgba(255, 255, 255, 0.6), inset 0 -8px 0 0 rgba(13, 23, 56, 0.05), 0 3px 3px 0 rgba(13, 23, 56, 0.1), 0 8px 16px 0 rgba(13, 23, 56, 0.06);
    @include respond(xs) {
        min-height: 66px;
        min-width: 161px;
        padding: 10px 20px;
    }
    img {
        @include respond(xs) {
            max-width: 100px;
        }
    }
    &:hover {
        transform: translateY(-3px);
    }
}
.as-brand-content {
    padding-right: 40px;
    @include respond(laptop) {
        padding-right: 35px;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        padding-right: 0;
        margin-right: -5px;
    }
    @include respond(lg) {
        padding-right: 0;
        margin-right: 31px;
    }
    @media only screen and (max-width: 1023px) {
        margin-right: 25px;
    }
    @include respond(md) {
        margin-right: 0;
    }
    .xb-item {
        &--title {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 6px;
            color: var(--color-white);
            span {
                font-size: 25px;
            }
        }
        &--review {
            font-size: 16px;
            font-weight: 500;
            color: var(--color-white);
        }
        &--star {
            gap: 3.5px;
            li {
                font-size: 10px;
                color: var(--color-white);
            }
        }
        &--holder {
            gap: 10px;
        }
    }
}
.as-brand-list {
    gap: 68px;
    margin-right: 68px;
}
.as-brand-list {
    gap: 68px;
    margin-right: 68px;
    @include respond(xs) {
        gap: 30px;
    }
    li {
        @include respond(xs) {
            max-width: 100px;
        }
    }
}
.as-brand-marquee {
    overflow-x: hidden;
    position: relative;
    &::before,
    &::after {
        @include before;
        width: 146px;
        z-index: 1;
        background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 55%);
    }
    &::after {
        left: auto;
        right: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    }
}
.brand-section {
    z-index: 1;
    position: relative;
    margin-top: -55px;
    @include respond(xs) {
        padding-bottom: 60px;
    }
}
.ab-brand-top {
    .text {
        font-size: 16px;
        padding: 7px 31px;
        background: var(--color-secondary);
    }
    .line {
        background: var(--color-secondary);
        .xb-animate-leftRight .line span {
            background: linear-gradient(90deg, #6954fe 0%, rgba(105, 84, 254, 0) 100%);
        }
    }
}
.ab-brand-wrap {
    .xb-item--brand_list li {
        opacity: .7 !important;
        &:hover {
            opacity: 1 !important;
        }
    }
}